.accompView {
  height: 100%;
  width: 100%;

  background:linear-gradient( white, #f6f0db);


}
.wholeBox{


}
.topBox > img {
/*max-height: 50%;*/
width: 100px;
height: 100px;
}
.topBox{
padding-top: 100px;
  width: 100%;
display: flex;
justify-content: space-around;


}
.bottomBox > p {
  font:10px;

  font-size: 16px;
  font-family: play;
text-align: center;

}
.accompView{
display: flex;
flex-direction: column;

}
.bottomBox {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
