@font-face {
font-family: pokeFont;
src: url(./fonts/Pokemon_Pixel_Font/pokemon_pixel_font.ttf)

}

header{
  background:linear-gradient( red, #930c0c);
  width: 100%;
  height:70px;
  display: flex;


text-align: center;
}
.filler{
  width: 100px;
  display: flex;
  justify-content: flex-start;
  padding-top:10px;

}
.filler > a {
width: 100%;
height: 100%;
cursor:pointer;
}
.filler > a > img {
/*width: 100%;*/
height: 50px;
  border-radius:50%;
  border:50px;
  cursor:pointer;
}
.filler > a > img:hover {
  height:60px;
}


.myName {
  font-size: 250%;
  font-family: play;
  color: white;
  text-shadow: 3px 4px #930c0c;
  width: 400px;
  margin: 0 auto;
}


.labFull {
  height: 100%;
  width: 100%;

background-size: 100%;
background-repeat: no-repeat;
display: flex;
justify-content:
top: 5em;

}
.trainerButton{
height: 12%;
width: 10%;
position: absolute;
bottom: 40%;
left: 30%;;


}
#trainerImg{
  width: 60%;

  cursor: pointer;

}
#trainerImg:hover {
  outline: 20px solid #92b6cd;
  border-radius: 20%;
}
.aboutText{
  font-size: 32px;
  font-family: play;
  color: white;
  background:linear-gradient(rgb(34, 173, 241),#92b6cd);
  text-align: center;
  border-radius: 15%;
  position:absolute;
  left:22%;
  top: 70%;
  visibility: hidden;

}
.trainerButton:hover + .aboutText {

  visibility:visible;
}
ui-view{
  height: 100%;
  width:100%;
}
html, body{
  height: 94%;
  width:100%;
}
.labImg {

  width: 100%
}
.contactClick {
  height: 10%;
  width: 15%;
  background: transparent;
  position: absolute;

  left: 14%;
  top:22%;
  cursor: pointer;

}
.contactClick:hover {
  outline: 20px solid #92b6cd;
  outline-radius: 20px;

}

.contactText{
  font-size: 32px;
  font-family: play;
  color: white;
  background:linear-gradient(rgb(34, 173, 241),#92b6cd);
  border-radius: 15%;
  position:absolute;
  left:6%;
  top:13%;
  visibility:hidden;

}
.contactClick:hover + .contactText{

  visibility:visible;
}


.accompClick {
  height: 16%;
  width: 22%;
  background: transparent;
  position: absolute;

  left: 45%;
  bottom:31%;
  cursor: pointer;

}
.accompClick:hover {
  outline: 20px solid #92b6cd;
  outline-radius: 20px;
}

.accompText{
  font-size: 32px;
  font-family: play;
  color: white;
  background:linear-gradient(rgb(34, 173, 241),#92b6cd);
  border-radius: 15%;
  position:absolute;
  left:37%;
  top: 43%;
  visibility: hidden;

}

.accompClick:hover + .accompText{

  visibility:visible;
}
.menuButton {
width: 10%;
height: 70px;
min-width: 100px;
border-left: 6px solid #8a0606;
border-right: 10px solid #8a0606;
font-size: 100%;
font-family: play;
color: white;
padding:20px;
border-radius: 5px;
float:right;
cursor: pointer;
display:block;
text-shadow: 3px 4px #930c0c;
}
.dropDown{
  display:none;
  height:400px;;
  width: 100%;
}
.menuOption{
  border-left: 6px solid #8a0606;
  border-right: 10px solid #8a0606;
  font-family: play;
  color: white;
  padding:10px;
  cursor: pointer;
  text-shadow: 3px 4px #930c0c;
    background:linear-gradient( red, #930c0c);
    width: 200px;
    float:right;
    overflow: inherit;
}
.menuDrop{
  width: 100%;
  height: 100px;
}
menu-scroll{
  top: 70px;
  right: 0px;
  height: 400px;
  width: 400px;
  position:absolute;
  z-index: 1;
}
