
.returnButton {
  position: absolute;
    bottom: 50px;
    right: 50px;
    background:linear-gradient(#65c9f4, #1671ac);
    font-size: 24px;
    font-family: play;
    color: white;
    cursor: pointer;
    text-shadow: 1px;
    height:50px;
    width:100px;
    text-align: center;
  text-shadow: 2px 1px rgb(11, 68, 99);
  box-shadow: 2px 2px rgb(11, 68, 99);


}
.returnButton:hover {
  outline: 10px solid rgb(11, 68, 99);


}
